@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200&display=swap');

 /* Scroll bar */
 ::-webkit-scrollbar {
  width: 0.7rem;
 
 }
 
::-webkit-scrollbar-track {
  border: 0.1px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  }
 
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
 
/* for Firefox */
 html {scrollbar-color: #9e4673 #3d4a59;} 

 html {scroll-behavior: smooth;}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}
body{
  background-color: antiquewhite;
}
.url{
overflow-x: auto;


}
/* NavBar */
.navBar{
  min-height: 70px;
}
.bg-nav{
background-color:aqua ;

}
.ul-nav{
  gap: 20px;
  list-style: none;
}
.ul-nav li {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  font-size: 1.2em;
  font-weight: 600;
   cursor: pointer;
}
.ul-nav li:hover{
  color: blue;
}
.logout:hover{
  color: red !important;
}
.icon-main{
  font-size: 1.2em;
  cursor: pointer;

}
.link{
 color:black ;
 text-decoration: none;
}
 .message-main{
 margin-top: 50px;
 }
 .saraha{
  
  position: absolute;
  right: 50%;
  top: 50%;
  transform:translate(50%,-50%) ;
  -webkit-transform:translate(50%,-50%) ;
  -moz-transform:translate(50%,-50%) ;
  -ms-transform:translate(50%,-50%) ;
  -o-transform:translate(50%,-50%) ;
}
 @media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.1rem;
   }
  .icon-main {
   
    font-size: 1.9em;
    margin-bottom: 7px;
  }
  .logout{
    font-size: 1.9em !important;
  }
  ul{
    margin-top: 9px !important;
  }
  .navBar{
    flex-direction: row;
  }
}
/* messages */
.message-main,.message-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-send{
  width: 150px;
  border: 1px solid rgb(76, 76, 138);
  margin-top: 20px;
  padding: 5px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btn-send:hover{
  border-color: blue;
  
}

#w3review{
  min-width: 450px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 1px solid rgb(76, 76, 138);
  padding: 5px;
}

#w3review:focus,#w3review:hover{
  outline:none;
  border-color: blue;
}
.fa-trash{
  cursor: pointer;
  color: rgba(255, 0, 0, 0.669);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.fa-trash:hover{
  color: rgb(255, 0, 0);
}
/* register */
.icon-register{
  font-size: 5em;
  color: rgba(0, 0, 0, 0.301);
}
.register{
  margin-top: 10px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 padding: 10px;
 border-radius: 5px;
 background:white;
 border: 1px solid rgba(0, 0, 0, 0.192);
 box-shadow: 1px 1px 2px #b8b5b5;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
}
.form{
 
  display: flex;
  flex-direction: column;
  gap: 10px;
 

 
}
.input-name{
  width:100%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.input-name:focus{
  outline: none;
}

.btn-register{
  width:100% ;
  background-color: transparent;
  border: 1px solid #0DCAF0;
  padding: 5px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 ;
}


@media only screen and (max-width: 600px) {
  .message-area{
    padding: 10px;
  }
  .register{
    min-width: 100%;
  }
  #w3review{
    min-width: 350px;
  }
  .text-reg{
    letter-spacing: 5px ;
  }
}
/* Login */
.login-forgot{
  text-decoration: none;
}
/* profile */
.newPassword{
  padding: 5px;
  border:1px solid #0DCAF0;
}
.newPassword:focus{

 outline: none;
}
.btn-password{
  padding: 5px;
  border:1px solid #0DCAF0;
  margin: 5px 0;
  background: white;
}
.eya{
  font-size: 1.3em;
  position: absolute;
  right: 5px;
  top: 7px;
  cursor: pointer;
}